
// flex-center
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// flex-between
@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin button {
  background: transparent;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

@mixin link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

@mixin activeLink {
  text-shadow: 0 0 15px gold;
}