
// COLORS
$grayBlackColor: #212121;
$grayWhiteColor: #C4C4C4;
$heroTextColor: #E5E5E5;
$buttonWhite: #FFFFFF;
$textColor: #353535;

// RADIUS
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-2xl: 24px;
$radius-rounded: 50%;
