@use './fonts';
@use './reset';
@use './variables' as vars;
@use './mixins' as mix;
@use './global';


.App {
  font-family: 'Inter';
  font-weight: 400;
  scroll-behavior: smooth;
  font-size: 16px;
}